/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://fonts.googleapis.com/css2?family=Jersey+15&display=swap);

body {
    font-family: 'Anonymous Pro', monospace;  
    color: #372e29;
    font-size: 20px;
    line-height: 150%;
    background-image: url("images/backg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #c4c0b5;
    margin: 0;
}

aside {
    font-family: 'Anonymous Pro', monospace;
    font-size: 22px;
    background-color: #e8e5db;
    position: sticky;
    margin-top: 0px;
    margin-right: 1%;
    padding: 2%;    
    z-index: 999;
    border-radius: 0px 0px 14px 14px;
    height: 100%;
    text-align: right;
}

main {
    font-family: 'Anonymous Pro', monospace;  
    font-size: 20px;
    background-color: #e8e5db;
    width:100%;
    justify-content: center;
    margin-top: 0px;
    padding: 5%;
    border-radius: 0px 0px 14px 14px;
    display: inline-block;
}

a {
    position: relative;
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9f8cc8;
    transform-origin: bottom;
    transition: transform 0.25s ease-out;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

a:hover{
    background-color: rgba(159, 140, 200, .2);
    border-radius: 5px;
}

#container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#container a {
    color: #372e29;
    text-decoration:none;
}

#headerArea {
    position: relative;
    text-align: center;
    color: white;
}

#headerArea img {
    display: block;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    padding-bottom: .3%;
    margin-top: 5%;
}

/* .title{
    position: absolute;    
    border-radius: 40px 40px 0px 0px;
    top:0;
    bottom: -17%;
    background: rgba(55, 46, 41, 0.5); 
    color: #e8e5db;
    width: 100%;
    opacity:1;
    font-size: 70px;
    font-family: "Jersey 15", serif;
    letter-spacing: 30%;
    padding-bottom: .3%;
    padding-top: 10%;
    margin-top: 5%;
    text-align: center;

} 

*/

#flex {
    display: flex;
}

#header {
    margin-top: 0px;
}

.blogpost {
    box-shadow: 20px;

}


.footer {
    color: #2E2E2E;
    background-color: #e8e5db;
    border-radius: 14px;
    padding: 2px;
    margin: 1.4% 32%;
    text-align: center;
    font-size: 17px;
}

[title] {
    position: relative;
}

[title]:after {
    content: attr(title);
    position: absolute;
    left: 50%;
    top: 100%; /* put it on the top */
    background-color: #9f8cc8;
    width: max-content;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out; /* 👈 Change the time to meet your requirements. */
    z-index: 9999;
}

[title]:hover:after {
    height: 100%;
    opacity: 1;
}